@import url("whitespace-reset.css");

body {
	background-color: rgb(30, 38, 43) !important;
}

.jumbotron {
	background-image: url(../images/v1.jpg);
	background-position: 900px;
}

.jumbotron h1 {
	color: #880c77;
	font-weight: bold 
}

.head-container {
	width: 30%;
	height: 20%;
	background-color: rgb(172, 161, 161);
	opacity: 0.7;
}
.btn  {
	outline: none !important;
	border-radius: 20px;
	margin-bottom: 20px;
}

.btn:first-of-type {
	margin-right: 10px;
}

h2 {
	margin-bottom: 15px;
	color: #ffffff;
}
.bottom-marg {
	margin-bottom: 3%;
}

